<div class="container text-center">
  <div class="row">
    <h1><%= @flat.name %></h1>

      <div class="flat col-xs-12 col-md-8 col-md-offset-2">
              <%= image_tag("#{@flat.city}.jpg")%>
      </div>
  </div>

    <div class="mt">
        <p>Adorable <%= @flat.name %> in <%= @flat.city %>.</p>
        <p>Capacity: <%= @flat.capacity %> pax.</p>
    </div>
    <div class="pull-right mb">
          <%= link_to "modify", edit_flat_path, method:"GET",class:"btn btn-warning"%>
          <%= link_to "suppress", flat_path, method:"DELETE",class:"btn btn-danger"%></div>
</div>
