<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to image_tag("logo.svg", :class => "logo"), root_path %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Search form -->
<!--     <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form> -->

    <!-- Notification link-->
<!--     <a href="" class="navbar-wagon-item navbar-wagon-link">
      <div class="badge-container">
        <i class="fa fa-envelope-o"></i>
        <div class="badge badge-blue">3</div>
      </div>
    </a>
 -->
    <!-- Profile picture and dropdown -->
    <div class="navbar-wagon-item">

      <% if user_signed_in? %>
      <div class="dropdown">
      <%= image_tag("avatar.JPG", :class =>"avatar dropdown-toggle",  :id => "navbar-wagon-menu", :"data-toggle"=>"dropdown")%>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "appartments", flats_path %></li>
        <li><%= link_to "account", root_path %></li>
        <li><%= link_to "log-out", destroy_user_session_path, method:"DELETE" %></li>
        </ul>
            <!-- Button (call-to-action) -->
            <%= link_to "Add a flat", new_flat_path, method:"GET",class:"btn btn-primary"%>

      </div>
      <%end%>

      <% if !user_signed_in? %>
        <ul class="list-inline">
        <li><%= link_to "appartments", flats_path %></li>
        <li><%= link_to "sign-in", new_user_session_path %></li>
        <li>or</li>
        <li><%= link_to "sign-up", new_user_registration_path, method:"GET",class:"btn btn-primary"%></li>
        </ul>
      <%end%>


    </div>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">



      <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "appartments", flats_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "account", root_path %></li>
          <li><%= link_to "log-out", destroy_user_session_path, method:"DELETE" %></li>
        <%end%>
        <% if !user_signed_in? %>
          <li><%= link_to "sign-in", new_user_session_path %></li>
        <li>or</li>
        <li><%= link_to "sign-up", new_user_registration_path%></li>
        <%end%>
        </ul>

      </div>





    </div>

</div>
